<div class="container-fluid">
  <ul class="breadcrumb">
    <li><%= link_to 'Main Screen', root_path %><span class="divider">&#47;</span></li>
    <li class="active">New Event</li>
  </ul>
<h1>New Event</h1>

<%= render "form" %>

</div>